# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=

AWS_REGION=us-east-2
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=awsbucketname
AWS_CLOUDFRONT_DOMAINNAME=cloudfrontdomainname

JWT_CLIENT_SECRET=secretforclientjwt
JWT_ADMIN_SECRET=secretforadminjwt
JWT_REFRESH_SECRET=secretforrefreshsecretjwt

PORT=serverport